@import "../breakpoint-sass/stylesheets/breakpoint";
@import "../susy/sass/susy";
@import "../typi/scss/typi";

$primary: white;

::selection { color: $primary; }

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $primary;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $primary;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $primary;
}
:-moz-placeholder { /* Firefox 18- */
  color: $primary;
}

@import "layout";
@import "type";
@import "form";
@import "mixins/all";